.bar-tab .tab-item.active {
	color: #f9bf1f;
	border-bottom: 2px solid #f9bf1f;
}

.buttons-tab .button.active {
	color: #f9bf1f;
	border-color:#525252;
    z-index: 100;
}

.buttons-list {
	padding: 0.7rem 0;
	width: 100%;
	height: 3.1rem;
	padding-left:17%;
}

.buttons-list .button {
	width: 40%;
	float: left;
	line-height: 1.7rem;
	height: 1.7rem;
	border: 1px solid #525252;
	color: #525252;
	border-radius:0.35rem;
	font-size: .7rem;
}

.buttons-list .button:nth-of-type(1) {
	border-right: none;
	border-top-right-radius:0px;
	border-bottom-right-radius: 0px;
}

.buttons-list .button:nth-of-type(2) {
	border-left: none;
	border-top-left-radius:0px;
	border-bottom-left-radius: 0px;
}

.buttons-list .button.active {
	background: #525252;
	color: #fff;
}

.qianbao-title {
	margin-top: 0.75rem;
	color: #8e8e8e;
}

.qianbao-list {
	margin: 0;
}

.qianbao-list .item-content{
	height: 3.8rem;
}

.qianbao-list .qianbao {
	font-size: 2.5rem;
	color: #f9bf1f
}

.qianbao-list .item-title {
	color: #525252;
	font-weight: normal;
}

.qianbao-list .item-after {
	color: #525252;
}

.qianbao-list .item-text {
	color: #8e8e8e;
	font-size: 0.65rem;
}

.qianbao-list .srow {
	padding-top: 0.5rem;
    height: 1.5rem;
}

.qianbao-list .balance {
	font-size: 0.75rem;
}

.qianbao-list .yuan {
	font-size: 0.4rem;
}


.coupon-tab .button{
	color: #d1d1d1
}

.coupon-tab .button.active{
	border-bottom-color:#f9bf1f;
	color: #f9bf1f;
}

.empty {
	text-align:center;
	margin-top:3rem;
}
.empty p {
	margin: 0px;
	color: #8e8e8e;
}
.empty span {
	font-size: 3rem;
	color:#8e8e8e;
}

.coupon-list {
	margin-top: 0.7rem;
	width: 90%;
	margin-left:5%;
	height: 100px;
	border-radius: 0.4rem;
	border: 1px solid #525252;
	color:#525252;
	font-size: .7rem;
}
.coupon-list p {
	margin: 0
}

.coupon-list .left {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 10px;
	height: 100%;
	border-right:1px dashed #d4d4d4;
}

.coupon-list .left .money span {
	font-size: 1.8rem;
}

.coupon-list .right {
	width: 15%;
	float: left;
	margin-right: 0px;
	background: #f9bf1f;
	color: #fff;
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	text-align: center;
	height: 100%;
	padding: 10px 0;
}

.coupon-list .middle {
	width: 60%;
	float: left;
	padding-left: 15px;
}

.coupon-list .middle .tt {
	color:#8d8d8d;
	margin-top: 10px;
}

.coupon-list .middle .type {
	color: #525252;
	background: #e3e3e3;
	padding: 5px 10px;
	font-size: 0.6rem;
}

.coupon-list .middle .time {
	font-size: .75rem;
	margin: 5px 0;
}

.coupon-list .right p {
	line-height: 20px;
	font-size: 0.8rem;
}


.card-list {
	margin-top: 0.7rem;
	width: 95%;
	margin-left:2.5%;
	height: 210px;
	position: relative;
}

.card-list .quanyi {
	margin: 0;
    margin-top: 20px;
    position: absolute;
    background: #f9bf1f;
	color: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-right: 10px;
	font-size: 0.61rem;
	text-align: center;
	line-height: 1.2rem;
	width: 110px;
}

.card-list .bottom-left {
	color: #7c7c7c;
    font-size: 0.65rem;
    position: absolute;
    bottom: -2px;
    display: block;
    left: 15px;
}

.card-list .bottom-right {
	color: #7c7c7c;
    font-size: 0.65rem;
    position: absolute;
    bottom: -2px;
    display: block;
    right: 15px;
}

.card-list .headimg {
	border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 80px;
    left: 15px;
}

.card-list .name {
	position: absolute;
    display: block;
    top: 100px;
    left: 87px;
    color: #515350;
    font-size: 0.8rem;
}

.card-list .vip-level {
	position: absolute;
    display: block;
    top: 115px;
    left: 87px;
    color: #e4d7c6;
    font-size: 0.7rem;
}

.card-list .qrcode {
	font-size: 2.5rem;
	color: #dfdfde;
	right: 15px;
	position: absolute;
	top:70px;
}

.card-list .qrcode_img {
	position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
}

.card-list .open {
	position: absolute;
    right: 15px;
	background: #f9bf1f;
	color:#fff;
    border-radius: 10px;
	top: 97px;
	border:none;
	line-height: 1.35rem;
	padding: 0 10px;
}

.card-list.none-vip {
	margin-top: 0;
	margin-left: 0;
	width: 100%;
}

.card-list.none-vip .quanyi {
	top: 15%;
    left: 5%;
}

.card-list.none-vip .headimg {
	left: 10%;
    top: 48%;
}

.card-list.none-vip .open {
	right: 12%;
    top: 51%;
}

.card-list.none-vip .name {
	left: 29%;
	top: 56%;
	font-size: 0.8rem;
	color:#525252;
}

.index-card-list {
	width: 100%;
	position: relative;
	margin-top: 0.8rem;
	float: left;
}

.index-card-list .card-index {
	color:#505050;
	width: 30%;
	margin: 0 1.5%;
	padding: 0.6rem 0;
	float: left;
}

.index-card-list .card-index .card-title {
	margin: 0px;
	font-size: 0.7rem;
}

.index-card-list .card-index .left {
	float: left;
}

.index-card-list .card-index .icons {
	font-size: 1.3rem;
    margin: 0 5px;
}

.index-card-list .card-index .income {
	color: #f9bf1f;
	margin: 0px;
	font-size: 0.6rem;
}

.index-order {
	color:#505050;
	font-size: 0.65rem;
	float:left;
	width:100%;
	margin: 0px;
	margin-top: 0.5rem;
}

.index-order .icon-dingdan {
	margin-top: 2px;
}

.index-money {
	font-size: 1.4rem;
	color: #f9bf1f;
}

.index-money em {
	font-style: normal;
}

.index-money span {
	font-size: 0.6rem;
	color: #505050;
	margin-left:5px;
}

.index-activity {
	font-size: 1rem;
	color: #f9bf1f;
}


.index-order .btn {
	color: #f9bf1f;
    border: 1px solid #f9bf1f;
    border-radius: 10px;
    padding: 4px 10px;
}

.index-order a {
	color: #505050;
}

.mask {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: .4s;
	transition-duration: .4s;
	visibility: visible;
	opacity: 1;
	display: none;
}

.open-vip {
	position: absolute;
	width: 90%;
	left:5%;
	top:15%;
	z-index: 10601;
	display: none;
	background: #fff;
	height: 21.5rem;
	border-radius: 0.8rem;
}

.open-vip .img {
	width:100%;
	float: left;
}

.open-vip .vip_open {
	width:80%;
	margin-left: 10%;
	background-color: #f9bf1f;
	height: 2rem;
	border-radius: 0.65rem;
	color: #fff;
	line-height: 2rem;
	text-align: center;
	font-size: 0.7rem;
}

.open-vip .close {
	position: absolute;
    color: #fff;
    font-size: 1.5rem;
    bottom: -15%;
	left: 45%;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background: #ccc;
}

.open-vip .vip_title {
	text-align: center;
	font-weight: 300;
	margin: 0;
	margin-top: 0.8rem;
}

.open-vip .vip_amount {
	color:#b39453;
	font-size: 2.2rem;
	text-align: center;
	margin: 0;
}

.open-vip .vip_zs {
	text-align: center;
	color:#b39453;
	margin: 0;
	font-size: 0.8rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
}

.coupon_use {
	display: none;
	position: absolute;
	width: 90%;
	left:5%;
	top:25%;
	background: #fff;
	z-index: 10601;
	height: 12rem;
	border-radius: 0.8rem;
}

.coupon_use .tt {
	text-align: center;
	color: #f9bf1f;
	font-size:1.2rem;
	margin-bottom: 0.5rem;
}

.coupon_use .tips {
	text-align: center;
	color: #7d7d7d;
	font-size:0.7rem;
	margin:0;
}

.coupon_use .code {
	color: #f9bf1f;
	margin: 1rem 16%;
	height: 1.8rem;
	line-height: 1.8rem;
	border-radius: 0.75rem;
	text-align: center;
	border:1px solid #7d7d7d;
}

.coupon_use .btn {
	color: #7d7d7d;
	margin: 1rem 20%;
	height: 1.5rem;
	line-height: 1.5rem;
	border-radius: 0.75rem;
	text-align: center;
	background: #f9bf1f;
	font-size:0.7rem;
	color: #fff;
	margin-top:2rem;
}

.datalist.none {
	opacity: 0.5;
}
.datalist.none .right {
	background: #525252;
}

.coupon_receive_btn {
	position: fixed;
	width: 100%;
	background: #f9bf1f;
	color: #fff;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	bottom: 0px;
}

.coupon_success {
	display: none;
	position: absolute;
	width: 90%;
	left:5%;
	top:25%;
	background: #fff;
	z-index: 10601;
	height: 12rem;
	border-radius: 0.8rem;
}

.coupon_success .tt {
	text-align: center;
	color: #f9bf1f;
	font-size:1.2rem;
	margin-bottom: 0.5rem;
}

.coupon_success .tips {
	text-align: center;
	color: #7d7d7d;
	font-size:0.7rem;
	margin:0;
}

.coupon_success .code {
	color: #f9bf1f;
	margin: 1rem 16%;
	height: 1.8rem;
	line-height: 1.8rem;
	border-radius: 0.75rem;
	text-align: center;
	border:1px solid #7d7d7d;
}

.coupon_success .btn {
	color: #7d7d7d;
	margin: 1rem 20%;
	height: 1.5rem;
	line-height: 1.5rem;
	border-radius: 0.75rem;
	text-align: center;
	background: #f9bf1f;
	font-size:0.7rem;
	color: #fff;
	display: block;
}

.coupon_success .close {
	position: absolute;
    color: #fff;
    font-size: 1.5rem;
    bottom: -23%;
	left: 45%;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background: #ccc;
}

.coupon_success .success {
	background: #06c951;
    width: 4rem;
    margin: 0 auto;
    border-radius: 50%;
    height: 4rem;
	margin-top: 1rem;
	text-align: center;
    color: #fff;
    line-height: 4rem;
}

.coupon_success .success span {
	font-size: 2rem;
}

.open-qrcode {
	position: absolute;
	width: 90%;
	left:5%;
	top:15%;
	z-index: 10601;
	display: none;
	background: #fff;
	height: 20.5rem;
	border-radius: 0.8rem;
}

.open-qrcode .close {
	position: absolute;
    color: #fff;
    font-size: 1.5rem;
    bottom: -15%;
	left: 45%;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background: #ccc;
}

.open-qrcode .barcode {
	width: 80%;
	margin-left:10%;
	height: 3rem;;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.open-qrcode .qr {
	width: 50%;
	margin-left: 25%;
	margin-bottom: 2rem;
}

.open-qrcode .shuaxin {
	width:50%;
	margin-left: 25%;
	height: 2rem;
	border-radius: 0.65rem;
	color: #b39453;
	line-height: 2rem;
	text-align: center;
	font-size: 0.7rem;
	border:1px solid #b39453;
}


.buttons-list-three {
	padding: 0.7rem 0;
	width: 100%;
	height: 3.1rem;
	padding-left:5%;
	padding-right:5%;
	background: #fbfbfb;
}

.buttons-list-three .button {
	color: #fff;
	width: 40%;
	float: left;
	line-height: 1.7rem;
	height: 1.7rem;
	border: 1px solid #525252;
	color: #525252;
	border-radius:0.35rem;
	font-size: .7rem;
	background: #fff;
}

#page-activity-my .buttons-tab:after {
	content: none;
}

.buttons-list-three .button:nth-of-type(1) {
	border-right: none;
	border-top-right-radius:0px;
	border-bottom-right-radius: 0px;
}

.buttons-list-three .button:nth-of-type(3) {
	border-left: none;
	border-top-left-radius:0px;
	border-bottom-left-radius: 0px;
}

.buttons-list-three .button:nth-of-type(2) {
	border-radius: 0;
}

.buttons-list-three .button.active {
	background: #525252;
	color: #fff;
}

.activity-list {
	margin: 0.5rem 0;
}

.activity-list.list-block.media-list .item-title {
	font-weight: 350;
	color: #222222;
}

.activity-list .remark span{
	border: 1px solid #f9bf1f;
	color: #f9bf1f;
	font-weight: normal;
	border-radius: 0.25rem;
	padding: 0.1rem 0.5rem;
	font-size: 0.7rem;
}

.activity-list .remark{
	margin-top: 1rem;
}

.activity-list.list-block.media-list .item-media {
	padding-top: .7rem;
    padding-bottom: .7rem;
}

.activity-list .money {
	font-size: 0.9rem;
	font-weight: normal;
	color: red;
	margin-top: 0.6rem;
}

.activity-list .money s {
	color:#868686;
	font-size: 0.7rem;
	font-weight: 300;
}

.activity-list .status_btn {
	position: absolute;
	bottom: 0.5rem;
	right: 0.75rem;
	background: #e5e5e5;
	color: #fff;
	border-radius: 0.7rem;
	padding: 0.3rem 0.9rem;
	font-size: 0.65rem;
}

.activity-list .status_btn.active {
	background: #f9bf1f;
}

.activity-bottom {
	height: 2.2rem;
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #f9bf1f;
}
.activity-bottom div {
	width: 50%;
	float: left;
	line-height: 2.2rem;
	text-align: center;
	color: #f9bf1f;
	font-weight: 345;
}

.activity-bottom div.active {
	background: #f9bf1f;
	color: #fff;
}

#page-vip-equity .swiper-container {
	width: 100%;
	height: 9rem;
	margin-top: -7rem;
}

#page-vip-equity .swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 80%;
}

#page-vip-equity .swiper-slide-active .vip-list{
	transform: scale(1);
	transition: all 0s;
}

#page-vip-equity .vip-list {
	width: 100%;
	height: 9rem;
	position: relative;
	transform: scale(0.9);
}

#page-vip-equity .vip-list .bottom-left {
	color: #7c7c7c;
    font-size: 0.65rem;
    position: absolute;
    bottom: 20px;
    display: block;
    left: 30px;
}

#page-vip-equity .vip-list .bottom-right {
	color: #7c7c7c;
    font-size: 0.65rem;
    position: absolute;
    bottom: -2px;
    display: block;
    right: 15px;
}

#page-vip-equity .vip-list .headimg {
	border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 65px;
    left: 15px;
}

#page-vip-equity .vip-list .name {
	position: absolute;
    display: block;
    top: 85px;
    left: 87px;
    color: #515350;
	font-size: 0.8rem;
	top:75px;
}

#page-vip-equity .vip-list .vip-level {
	position: absolute;
    display: block;
    top: 100px;
    left: 87px;
    color: #716b6b;
    font-size: 0.7rem;
}

#page-vip-equity .vip-list .vip-none-level {
	position: absolute;
    display: block;
    top: 30px;
	left: 30px;
	border:1px solid #716b6b;
	color: #716b6b;
	width: 25px;
	padding: 5px 5px;
    font-size: 0.7rem;
}

#page-vip-equity .vip-list .qrcode_img {
	position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
}

.vip-top {
	background: #414141;
    height: 10rem;
}

.vip-top .title2 {
	color: #fff;
    margin: 0;
    font-size: 0.85rem;
    line-height: 3rem;
    padding-left: 5%;
}

#page-vip-equity .ftitle {
	text-align: center;
	margin: 1.2rem 0 ;
	color: #1b1b1b;
}

.equity-swiper-container {
	width: 95%;
	margin-left: 2.5%;
	float: left;
}

.equity-swiper-container .equity {
	width: 33.3%;
	float: left;
	margin-bottom: 0.6rem;
}

.equity-swiper-container .kuang {
	border: 1px solid #f9bf1f;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #f9bf1f;
	margin: 0 auto;
}

.equity-swiper-container .kuang span {
	font-size: 1.3rem;
}

.equity-swiper-container .equity-title {
	font-size: 0.7rem;
	color: #1b1b1b;
	text-align: center;
}

.equity-open {
	color: #fff;
	text-align: center;
	background: #f9bf1f;
    border-radius: 10px;
	height: 2rem;
	line-height: 2rem;
	width: 60%;
	margin-left: 20%;
	bottom: 2rem;
	position: fixed;
}

.invite-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
	z-index: 1000;
}

.invite-modal span {
	display: block;
	width: 100%;
	padding-right: 10%;
	text-align: right;
	color: #fff;
	letter-spacing: 3.5px;
}

.invite-modal .invite-modal__content {
    text-align: right;
    margin-right: 17%;
    margin-top: 5px;
}

.invite-modal .invite-modal__content img {
    width: 290px;
    height: auto;
}

.invite-modal .invite-modal__btn {
    float: right;
    margin-right: 20%;
    margin-top: 20px;
    height: 40px;
}

#quan {
	border: 1px solid #f9bf1f;
    padding: 2px 2px;
    background: #f9bf1f;
    color: #fff;
    border-radius: 0.2rem;
	margin-right: 5px;
	font-size: 0.8rem;
}