<extend name="Public/__base" />
<block name="body">

    <div class="page-main" style="left:170px;top:50px;">

        <div class="history-container ng-scope">
            <a class="return-btn" onclick="history.go(-1)">
                <i class="ALiconfont icon-sortleft"></i> 返回
            </a>
            <ul class="history-list">
                <li><a href="{:U('index')}">门店管理</a></li>
                <li><a>{$shop.title}</a></li>
                <li>菜品管理</li>
            </ul>
        </div>


        <div class="page-tabs" style="top:50px;">
            <ul class="page-tabs-nav" id="changeaction">
                <li class="active" onclick="location.href='{:U('goods', array('id' => $_GET['id']))}'">菜品管理</li>
                <li class="" onclick="location.href='{:U('goodsType', array('id' => $_GET['id']))}'">菜品分类管理</li>
            </ul>
            <form method="post" action="" id="formsubmit">
                <div class="tool-bar ng-scope" style="background:#fff;border-bottom:1px solid #dfe0e0">
                    <div class="bar-full">
                        <a class="btn btn-addon btn-success ng-scope" id="add"><i class="glyphicon glyphicon-plus"></i>添加</a>
                    </div>
                    <div>
                        <select class="form-control type" style="width:160px;" name="goods_type_id" id="goods_type_id">
                            <option value="">全部分类</option>
                            <?php foreach ($goodsType as $type) { ?>
                            <option value="{$type.id}" <?php if($type['id']==$_POST['goods_type_id']) {echo 'selected' ;}?>>{$type.title}</option>
                            <?php } ?>
                        </select>
                    </div>
                    <div class="search-bool">
                        <div class="input-group ng-pristine ng-valid">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="名称"
                                name="keyword" value="{$Think.post.keyword}">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" id="search_btn">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>

            <ul class="page-tabs-container">
                <li class="fadeIn animated active">
                    <div class="table-container" style="top:50px;background:#fff">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>菜品名称</th>
                                    <th>分类</th>
                                    <th>售价</th>
                                    <th>状态</th>
                                    <th>总销量</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($data as $v){ ?>
                                <tr>
                                    <td>{$v.sort}</td>
                                    <td>{$v.title}</td>
                                    <td>{$goodsType[$v['goods_type_id']]['title']}</td>
                                    <td><?=sprintf("%.2f", $v['price'] / 100);?></td>
                                    <td>
                                        {:C('goods_status')[$v['status']]}
                                        <?php if ($v['status'] == 'up'){ ?>
                                        <a class="btn btn-danger btn-xs down" data-id="{$v.id}">下架</a>
                                        <?php } else { ?>
                                        <a class="btn btn-success btn-xs up" data-id="{$v.id}">上架</a>
                                        <?php } ?>
                                    </td>
                                    <td>{$v.sale_number}</td>
                                    <td>
                                        <a class="btn btn-info btn-xs edit" data-id="{$v.id}">修改</a>
                                        <a class="btn btn-danger btn-xs delete" data-id="{$v.id}">删除</a>
                                    </td>
                                </tr>
                                <?php } ?>
                                <?php if(count($data) == 0){ ?>
                            <tfoot>
                                <tr>
                                    <td colspan="20" class="empty">没有检索到相关数据</td>
                                </tr>
                            </tfoot>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </li>
            </ul>
        </div>
    </div>

    <div class="info-card fadeIn animated ng-scope" id="add_card">
        <div class="info-card-wrapper">
            <div class="info-card-dialog">
                <div class="info-card-content">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 添加
                            <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                        </div>
                        <div class="panel-body">
                            <div class="form-tabs">
                                <ul class="form-tabs-container">
                                    <li class="fadeIn animated active">
                                        <table class="table-bordered bg-white table-form">
                                            <tbody>
                                                <tr>
                                                    <td class="require" width="160">排序</td>
                                                    <td>
                                                        <input type="text" name="sort" value="1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">分类</td>
                                                    <td>
                                                        <select name="goods_type_id">
                                                            <option value="">请选择分类</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <option value="{$type.id}">{$type.title}</option>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">菜品名称</td>
                                                    <td>
                                                        <input type="text" name="title">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">原价</td>
                                                    <td>
                                                        <input type="number" name="original_price">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">售价</td>
                                                    <td>
                                                        <input type="number" name="price">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">描述</td>
                                                    <td>
                                                        <textarea name="description" style="width:80%" rows="2"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">封面图(300*300)</td>
                                                    <td>
                                                        <div class="album" style="min-height:0px">
                                                            <ul>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="thumb" class="thumb">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">轮播图(500*165)</td>
                                                    <td>
                                                        <div class="album" style="min-height:0px">
                                                            <ul>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">相关推荐1</td>
                                                    <td>
                                                        <select name="tuijian" class="selectpicker" data-live-search="true">
                                                            <option value="">请选择</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <optgroup label="{$type.title}">
                                                                <?php foreach($type['goods'] as $goods) { ?>
                                                                <option value="{$goods.id}">{$goods.title}</option>
                                                                <?php }?>
                                                            </optgroup>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">相关推荐2</td>
                                                    <td>
                                                        <select name="tuijian" class="selectpicker" data-live-search="true">
                                                            <option value="">请选择</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <optgroup label="{$type.title}">
                                                                <?php foreach($type['goods'] as $goods) { ?>
                                                                <option value="{$goods.id}">{$goods.title}</option>
                                                                <?php }?>
                                                            </optgroup>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">相关推荐3</td>
                                                    <td>
                                                        <select name="tuijian" class="selectpicker" data-live-search="true">
                                                            <option value="">请选择</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <optgroup label="{$type.title}">
                                                                <?php foreach($type['goods'] as $goods) { ?>
                                                                <option value="{$goods.id}">{$goods.title}</option>
                                                                <?php }?>
                                                            </optgroup>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="" colspan="2">
                                                        规格设置
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="" colspan="2">
                                                        <table class="table-bordered bg-white table-form">
                                                            <tr>
                                                                <td><input type="text" placeholder="规格名称" name="options_key"></td>
                                                                <td><input type="text" placeholder="规格名称" name="options_key"></td>
                                                                <td><input type="text" placeholder="规格名称" name="options_key"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><textarea name="options_val" placeholder="规格=差价&#13;&#10;规格2=差价2" rows="3"></textarea></td>
                                                                <td><textarea name="options_val" placeholder="规格=差价&#13;&#10;规格2=差价2" rows="3"></textarea></td>
                                                                <td><textarea name="options_val" placeholder="规格=差价&#13;&#10;规格2=差价2" rows="3"></textarea></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-btn-box" colspan="2">
                                                        <a class="btn btn-success" id="add_action">确定</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-card fadeIn animated ng-scope" id="edit_card">
        <div class="info-card-wrapper">
            <div class="info-card-dialog">
                <div class="info-card-content">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 修改
                            <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                        </div>
                        <div class="panel-body">
                            <div class="form-tabs">
                                <ul class="form-tabs-container">
                                    <li class="fadeIn animated active">
                                        <table class="table-bordered bg-white table-form">
                                            <tbody>
                                                <tr>
                                                    <td class="require" width="160">排序</td>
                                                    <td>
                                                        <input type="text" name="sort" value="1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">分类</td>
                                                    <td>
                                                        <select name="goods_type_id">
                                                            <option value="">请选择分类</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <option value="{$type.id}">{$type.title}</option>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">菜品名称</td>
                                                    <td>
                                                        <input type="text" name="title">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">原价</td>
                                                    <td>
                                                        <input type="number" name="original_price">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">售价</td>
                                                    <td>
                                                        <input type="number" name="price">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">描述</td>
                                                    <td>
                                                        <textarea name="description" style="width:80%" rows="2"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">封面图封面图(300*300)</td>
                                                    <td>
                                                        <div class="album" style="min-height:0px">
                                                            <ul>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="thumb" class="thumb">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">轮播图(500*165)</td>
                                                    <td>
                                                        <div class="album" style="min-height:0px">
                                                            <ul>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                                <li class="album-plus relative">
                                                                    <span class="ALiconfont icon-plus3"></span>
                                                                    <i class="ALiconfont icon-trash i hide"></i>
                                                                    <img src="" name="carousel" class="thumb">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">相关推荐1</td>
                                                    <td>
                                                        <select name="tuijian" class="selectpicker" data-live-search="true">
                                                            <option value="">请选择</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <optgroup label="{$type.title}">
                                                                <?php foreach($type['goods'] as $goods) { ?>
                                                                <option value="{$goods.id}">{$goods.title}</option>
                                                                <?php }?>
                                                            </optgroup>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">相关推荐2</td>
                                                    <td>
                                                        <select name="tuijian" class="selectpicker" data-live-search="true">
                                                            <option value="">请选择</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <optgroup label="{$type.title}">
                                                                <?php foreach($type['goods'] as $goods) { ?>
                                                                <option value="{$goods.id}">{$goods.title}</option>
                                                                <?php }?>
                                                            </optgroup>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">相关推荐3</td>
                                                    <td>
                                                        <select name="tuijian" class="selectpicker" data-live-search="true">
                                                            <option value="">请选择</option>
                                                            <?php foreach($goodsType as $type){ ?>
                                                            <optgroup label="{$type.title}">
                                                                <?php foreach($type['goods'] as $goods) { ?>
                                                                <option value="{$goods.id}">{$goods.title}</option>
                                                                <?php }?>
                                                            </optgroup>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="" colspan="2">
                                                        规格设置
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="" colspan="2">
                                                        <table class="table-bordered bg-white table-form">
                                                            <tr>
                                                                <td><input type="text" placeholder="规格名称" name="options_key"></td>
                                                                <td><input type="text" placeholder="规格名称" name="options_key"></td>
                                                                <td><input type="text" placeholder="规格名称" name="options_key"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><textarea name="options_val" placeholder="规格=差价&#13;&#10;规格2=差价2" rows="3"></textarea></td>
                                                                <td><textarea name="options_val" placeholder="规格=差价&#13;&#10;规格2=差价2" rows="3"></textarea></td>
                                                                <td><textarea name="options_val" placeholder="规格=差价&#13;&#10;规格2=差价2" rows="3"></textarea></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-btn-box" colspan="2">
                                                        <input type="hidden" value="" name="id"/>
                                                        <a class="btn btn-info" id="edit_action">保存</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="shop_id" value="{$Think.get.id}">
    
    <script type="text/javascript">
        $(function () {
            $("#add").click(function () {
                $("#add_card").addClass('show');
                return false;
            }); 

            //点击页码
            $(".pagination a").click(function () {
                if (typeof ($(this).attr('href')) != 'undefined') {
                    $('#formsubmit').attr('action', $(this).attr('href')).submit();
                }
                return false;
            });

            $("#goods_type_id").change(function () {
                $("#formsubmit").submit();
            });

            //修改
            $(".edit").click(function () {
                var id = $(this).attr('data-id');
                $(".loading").show();
                $.ajax({
                    url: "{:U(findGoods)}",
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.code == 0) {
                            $("#edit_card [name='id']").val(data.data.id);
                            $("#edit_card [name='sort']").val(data.data.sort);
                            $("#edit_card [name='title']").val(data.data.title);
                            $("#edit_card [name='original_price']").val(data.data.original_price);
                            $("#edit_card [name='price']").val(data.data.price);
                            $("#edit_card [name='goods_type_id']").val(data.data.goods_type_id);
                            $("#edit_card .icon-plus3").removeClass('hide');
                            $("#edit_card .album-plus img").attr('src', '');
                            $("#edit_card [name='options_key']").val('');
                            $("#edit_card [name='options_val']").val('');
                            $("#edit_card [name='description']").val(data.data.description);
                            if (data.data.thumb != '') {
                                $("#edit_card [name='thumb']").attr('src', data.data.thumb);
                                $("#edit_card [name='thumb']").parent('li').find('.icon-plus3').addClass('hide');
                            }
                            data.data.carousel.forEach(function(item, index){
                                $("#edit_card [name='carousel']:eq("+index+")").attr('src', item);
                                $("#edit_card [name='carousel']:eq("+index+")").parent('li').find('.icon-plus3').addClass('hide');
                            })
                            if (data.data.tuijian == '') {
                                var tuijian = [];
                            } else {
                                var tuijian = JSON.parse(data.data.tuijian);
                            }
                            $("#edit_card [name='tuijian']").val('');
                            tuijian.forEach(function(val, index){
                                $("#edit_card [name='tuijian']:eq("+index+")").selectpicker('val', val);
                            });
                            data.data.options.forEach(function(item, index){
                                $("#edit_card [name='options_key']").eq(index).val(item.key);
                                $("#edit_card [name='options_val']").eq(index).val(item.val);
                            })
                            $("#edit_card").addClass('show');
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });

            $(".up").click(function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "提示",
                    text: "确定要上架吗？",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: '取消',
                    confirmButtonText: '确定'
                }, function () {
                    $(".loading").show();
                    $.ajax({
                        url: "{:U('updateGoods')}",
                        type: 'POST',
                        data: { id: id, status: 'up' },
                        success: function (data) {
                            if (data.code == 0) {
                                swal({ title: "提示", text: "操作成功", type: "success", timer: 1500, }, function () {
                                    window.location.reload();
                                });
                            } else {
                                swal("提示", data.msg, "warning");
                            }
                            $(".loading").hide();
                        }
                    })
                });
            });

            $(".down").click(function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "提示",
                    text: "确定要下架吗？",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: '取消',
                    confirmButtonText: '确定'
                }, function () {
                    $(".loading").show();
                    $.ajax({
                        url: "{:U('updateGoods')}",
                        type: 'POST',
                        data: { id: id, status: 'down' },
                        success: function (data) {
                            if (data.code == 0) {
                                swal({ title: "提示", text: "操作成功", type: "success", timer: 1500, }, function () {
                                    window.location.reload();
                                });
                            } else {
                                swal("提示", data.msg, "warning");
                            }
                            $(".loading").hide();
                        }
                    })
                });
            });

            $(".delete").click(function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "提示",
                    text: "确定要删除这条记录吗？",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: '取消',
                    confirmButtonText: '确定'
                }, function () {
                    $(".loading").show();
                    $.ajax({
                        url: "{:U('delGoods')}",
                        type: 'POST',
                        data: { id: id },
                        success: function (data) {
                            if (data.code == 0) {
                                swal({ title: "提示", text: "删除成功", type: "success", timer: 1500, }, function () {
                                    window.location.reload();
                                });
                            } else {
                                swal("提示", data.msg, "warning");
                            }
                            $(".loading").hide();
                        }
                    })
                });
            });

            //点击确定
            $("#add_action").click(function () {
                var data = {
                    sort: $("#add_card [name='sort']").val(),
                    title: $("#add_card [name='title']").val(),
                    goods_type_id: $("#add_card [name='goods_type_id']").val(),
                    original_price: $("#add_card [name='original_price']").val(),
                    price: $("#add_card [name='price']").val(),
                    shop_id: $("[name='shop_id']").val(),
                    thumb: $("#add_card [name='thumb']").attr('src'),
                    options: [],
                    description: $("#add_card [name='description']").val(),
                    carousel: [],
                    tuijian: [],
                };
                if (data.sort == '') {
                    swal({ title: "提示", text: "排序不能为空", type: "warning" }, function () {
                        $("#add_card [name='sort']").focus();
                    });
                    return false;
                }
                if (data.goods_type_id == '') {
                    swal({ title: "提示", text: "请选择分类", type: "warning" }, function () {

                    });
                    return false;
                }
                if (data.title == '') {
                    swal({ title: "提示", text: "菜品名称不能为空", type: "warning" }, function () {
                        $("#add_card [name='title']").focus();
                    });
                    return false;
                }
                if (data.original_price == '') {
                    swal({ title: "提示", text: "原价不能为空", type: "warning" }, function () {
                        $("#add_card [name='original_price']").focus();
                    });
                    return false;
                }
                if (data.price == '') {
                    swal({ title: "提示", text: "售价不能为空", type: "warning" }, function () {
                        $("#add_card [name='price']").focus();
                    });
                    return false;
                }
                var i = 0;
                $("#add_card [name='carousel']").each(function(){
                    if ($(this).attr('src') != '') {
                        data.carousel[i] = $(this).attr('src');
                        i++;
                    }
                });
                data.carousel = JSON.stringify(data.carousel);

                var i = 0;
                $("#add_card [name='tuijian']").each(function () {
                    if ($(this).val() != '') {
                        data.tuijian[i] = $(this).val();
                        i++;
                    }
                });
                data.tuijian = JSON.stringify(data.tuijian);

                for (var i = 0; i <= 2; i++) {
                    var key = $("#add_card [name='options_key']").eq(i).val();
                    var val = $("#add_card [name='options_val']").eq(i).val();
                    if (key != '' && val != '') {
                        data.options.push({key, val});
                    }
                }
                data.options = JSON.stringify(data.options);

                $(".loading").show();
                $.ajax({
                    type: 'POST',
                    url: "{:U('addGoods')}",
                    data: data,
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "添加成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                });
            });

            //修改
            $("#edit_action").click(function () {
               var data = {
                    id: $("#edit_card [name='id']").val(),
                    sort: $("#edit_card [name='sort']").val(),
                    title: $("#edit_card [name='title']").val(),
                    goods_type_id: $("#edit_card [name='goods_type_id']").val(),
                    original_price: $("#edit_card [name='original_price']").val(),
                    price: $("#edit_card [name='price']").val(),
                    shop_id: $("[name='shop_id']").val(),
                    thumb: $("#edit_card [name='thumb']").attr('src'),
                    options: [],
                    description: $("#edit_card [name='description']").val(),
                    carousel: [],
                    tuijian: [],
                };
                if (data.sort == '') {
                    swal({ title: "提示", text: "排序不能为空", type: "warning" }, function () {
                        $("#edit_card [name='sort']").focus();
                    });
                    return false;
                }
                if (data.goods_type_id == '') {
                    swal({ title: "提示", text: "请选择分类", type: "warning" }, function () {

                    });
                    return false;
                }
                if (data.title == '') {
                    swal({ title: "提示", text: "菜品名称不能为空", type: "warning" }, function () {
                        $("#edit_card [name='title']").focus();
                    });
                    return false;
                }
                if (data.original_price == '') {
                    swal({ title: "提示", text: "原价不能为空", type: "warning" }, function () {
                        $("#edit_card [name='original_price']").focus();
                    });
                    return false;
                }
                if (data.price == '') {
                    swal({ title: "提示", text: "售价不能为空", type: "warning" }, function () {
                        $("#edit_card [name='price']").focus();
                    });
                    return false;
                }
                var i = 0;
                $("#edit_card [name='carousel']").each(function () {
                    if ($(this).attr('src') != '') {
                        data.carousel[i] = $(this).attr('src');
                        i++;
                    }
                });
                data.carousel = JSON.stringify(data.carousel);

                var i = 0;
                $("#edit_card [name='tuijian']").each(function () {
                    if ($(this).val() != '') {
                        data.tuijian[i] = $(this).val();
                        i++;
                    }
                });
                data.tuijian = JSON.stringify(data.tuijian);

                for (var i = 0; i <= 2; i++) {
                    var key = $("#edit_card [name='options_key']").eq(i).val();
                    var val = $("#edit_card [name='options_val']").eq(i).val();
                    if (key != '' && val != '') {
                        data.options.push({ key, val });
                    }
                }
                data.options = JSON.stringify(data.options);


                $(".loading").show();
                $.ajax({
                    type: 'POST',
                    url: "{:U('updateGoods')}",
                    data: data,
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "保存成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                });
            });

        });
    </script>
</block>