<extend name="Public/__base" />
<block name="body">
        
<div class="page-main" style="left:170px;top:50px;">

    <div class="history-container ng-scope">
        <a class="return-btn" onclick="history.go(-1)">
            <i class="ALiconfont icon-sortleft"></i> 返回 
        </a> 
        <ul class="history-list">
            <li><a href="javascript:void(0)">门店管理</a></li>
        </ul>
    </div>


    <div class="page-tabs" style="top:50px;">
        <form method="post" action="" id="formsubmit">
            <div class="tool-bar ng-scope" style="background:#fff;border-bottom:1px solid #dfe0e0">
                <div class="bar-full">
                    <a class="btn btn-addon btn-success ng-scope" id="add"><i class="glyphicon glyphicon-plus"></i>添加</a>
                </div>

                <div class="search-bool">
                    <div class="input-group ng-pristine ng-valid">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="名称" name="keyword" value="{$Think.post.keyword}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="search_btn">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <ul class="page-tabs-container">
            <li class="fadeIn animated active">
                <div class="table-container" style="top:10px;background:#fff">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>排序</th>
                                <th>店铺名称</th>
                                <th>店铺电话</th>
                                <th>支持外卖</th>
                                <th>支付堂食</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <?php foreach($data as $v){ ?>
                            <tr>
                                <td>{$v.sort}</td>
                                <td>{$v.title}</td>
                                <td>{$v.phone}</td>
                                <td>
                                    {:C('shop_status')[$v['status']]}
                                    <?php if ($v['status'] == 'normal'){ ?>
                                    <a class="btn btn-danger btn-xs closed" data-id="{$v.id}">暂停休息</a>
                                    <?php } else { ?>
                                    <a class="btn btn-success btn-xs normal" data-id="{$v.id}">开始营业</a>
                                    <?php } ?>
                                </td>
                                <td><?=$v['takeout'] ? '是' : '否';?></td>
                                <td><?=$v['forhere'] ? '是' : '否';?></td>
                                <td>
                                    <a class="btn btn-info btn-xs" href="{:U('table', array('id' => $v['id']))}">餐桌管理</a>
                                    <a class="btn btn-success btn-xs goods" href="{:U('goods', array('id' => $v['id']))}">菜品管理</a>
                                    <a class="btn btn-info btn-xs edit" data-id="{$v.id}">修改</a>
                                    <a class="btn btn-danger btn-xs delete" data-id="{$v.id}">删除</a>
                                </td>
                            </tr> 
                            <?php } ?>
                            <?php if(count($data) == 0){ ?>
                            <tfoot>
                                <tr>
                                    <td colspan="20" class="empty">没有检索到相关数据</td>
                                </tr>
                            </tfoot> 
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                {$page}
            </li>
        </ul>
    </div>
</div>

<div class="info-card fadeIn animated ng-scope" id="add_card">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading"> 添加
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="form-tabs">
                            <ul class="form-tabs-container">
                                <li class="fadeIn animated active">
                                    <table class="table-bordered bg-white table-form">
                                        <tbody>
                                            <tr>
                                                <td class="require" width="160">排序</td>
                                                <td>
                                                    <input type="text" name="sort" value="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺名称</td>
                                                <td>
                                                    <input type="text" name="title">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺电话</td>
                                                <td>
                                                    <input type="text" name="phone">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺地址</td>
                                                <td>
                                                    <input type="text" name="address" style="width:100%">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">是否支持外卖</td>
                                                <td>
                                                    <input type="radio" value="1" checked name="takeout_add"> 是
                                                    <input type="radio" value="0" name="takeout_add"> 否
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">是否支持堂食</td>
                                                <td>
                                                    <input type="radio" value="1" checked name="forhere_add"> 是
                                                    <input type="radio" value="0" name="forhere_add"> 否
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">营业时间</td>
                                                <td>
                                                    <input type="text" class="datetime" value="" name="start_time"> -
                                                    <input type="text" class="datetime" value="" name="end_time">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺图</td>
                                                <td>
                                                    <img src="" class="background" style="width: 285px;height: 165px;display: none;" />
                                                    <input type="hidden" name="background" />
                                                    <a class="btn btn-default upload_action">点击上传</a>
                                                    <br />建议大小：570px * 330px
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="">店铺介绍</td>
                                                <td>
                                                    <textarea rows="4" style="width:80%" name="description"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-btn-box" colspan="2">
                                                    <a class="btn btn-success" id="add_action">确定</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info-card fadeIn animated ng-scope" id="edit_card">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading"> 修改
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="form-tabs">
                            <ul class="form-tabs-container">
                                <li class="fadeIn animated active">
                                    <table class="table-bordered bg-white table-form">
                                        <tbody>
                                            <tr>
                                                <td class="require" width="160">排序</td>
                                                <td>
                                                    <input type="text" name="sort" value="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺名称</td>
                                                <td>
                                                    <input type="text" name="title">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺电话</td>
                                                <td>
                                                    <input type="text" name="phone">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺地址</td>
                                                <td>
                                                    <input type="text" name="address" style="width:100%">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">是否支持外卖</td>
                                                <td>
                                                    <input type="radio" value="1" checked name="takeout"> 是
                                                    <input type="radio" value="0" name="takeout"> 否
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">是否支持堂食</td>
                                                <td>
                                                    <input type="radio" value="1" checked name="forhere"> 是
                                                    <input type="radio" value="0" name="forhere"> 否
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">营业时间</td>
                                                <td>
                                                    <input type="text" class="datetime" value="" name="start_time">
                                                    -
                                                    <input type="text" class="datetime" value="" name="end_time">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">店铺图</td>
                                                <td>
                                                    <img src="" class="background" style="width: 285px;height: 165px;" />
                                                    <input type="hidden" name="background" />
                                                    <a class="btn btn-default upload_action">点击上传</a>
                                                    <br />建议大小：570px * 330px
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="">店铺介绍</td>
                                                <td>
                                                    <textarea rows="4" style="width:80%" name="description"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-btn-box" colspan="2">
                                                    <input name="id" type="hidden" />
                                                    <a class="btn btn-info" id="edit_action">保存</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form style="display: none;" enctype="multipart/form-data" class="fileform">
    <input type="file" name="img">
</form>

<script type="text/javascript">
    $(function(){
        $("#add").click(function () {
            $("#add_card").addClass('show');
            return false;
        });

        $('.datetime').datetimepicker({
            format: "hh:ii",
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            startView: 'hour',
            pickerPosition: 'top-left'
        });

        //修改
        $(".edit").click(function () {
            var id = $(this).attr('data-id');
            $(".loading").show();
            $.ajax({
                url: "{:U(findShop)}",
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    if (data.code == 0) {
                        $("#edit_card [name='sort']").val(data.data.sort);
                        $("#edit_card [name='title']").val(data.data.title);
                        $("#edit_card [name='phone']").val(data.data.phone);
                        $("#edit_card [name='description']").val(data.data.description);
                        $("#edit_card [name='address']").val(data.data.address);
                        $("#edit_card [name='id']").val(data.data.id);
                        $("#edit_card [name='start_time']").val(data.data.start_time);
                        $("#edit_card [name='end_time']").val(data.data.end_time);
                        $("#edit_card [name='background']:eq(0)").val(data.data.banner);
                        $("#edit_card .background:eq(0)").attr('src', data.data.banner);
                        if (data.data.takeout == 1) {
                            $("#edit_card [name='takeout']:eq(0)").attr('checked', true);
                        } else {
                            $("#edit_card [name='takeout']:eq(1)").attr('checked', true);
                        }
                        if (data.data.forhere == 1) {
                            $("#edit_card [name='forhere']:eq(0)").attr('checked', true);
                        } else {
                            $("#edit_card [name='forhere']:eq(1)").attr('checked', true);
                        }
                        $("#edit_card").addClass('show');
                    } else {
                        swal("提示", data.msg, "warning");
                    }
                    $(".loading").hide();
                }
            })
        });

        var index;
        $(".fileform input[name='img']").change(function () {
            if ($(this).val() == '') return false;
            $(".loading").show();
            $.ajax({
                url: "{:U('Admin/Index/upload')}",
                type: 'POST',
                cache: false,
                data: new FormData($('.fileform')[0]),
                processData: false,
                contentType: false
            }).done(function (res) {
                if (res.code == 0) {
                    $(".background:eq(" + index + ")").next().val(res.data.imgurl);
                    $(".background:eq(" + index + ")").attr('src', res.data.imgurl);
                    $(".background:eq(" + index + ")").show();
                } else {
                    swal("提示", res.msg, "warning");
                }
                $(".loading").hide();
            });
        });

        $(".upload_action").click(function () {
            index = $('.upload_action').index(this);
            $(".fileform input[name='img']").trigger('click');
        });

        $(".normal").click(function () {
            var id = $(this).attr('data-id');
            swal({
                title: "提示",
                text: "确定要开始营业吗？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                cancelButtonText: '取消',
                confirmButtonText: '确定'
            }, function () {
                $(".loading").show();
                $.ajax({
                    url: "{:U('updateShop')}",
                    type: 'POST',
                    data: { id: id, status:'normal'},
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "操作成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });
        });

        $(".closed").click(function () {
            var id = $(this).attr('data-id');
            swal({
                title: "提示",
                text: "确定要暂停营业吗？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                cancelButtonText: '取消',
                confirmButtonText: '确定'
            }, function () {
                $(".loading").show();
                $.ajax({
                    url: "{:U('updateShop')}",
                    type: 'POST',
                    data: { id: id, status: 'closed' },
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "操作成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });
        });

        $(".delete").click(function () {
            var id = $(this).attr('data-id');
            swal({
                title: "提示",
                text: "确定要删除这条记录吗？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                cancelButtonText: '取消',
                confirmButtonText: '确定'
            }, function () {
                $(".loading").show();
                $.ajax({
                    url: "{:U('delShop')}",
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "删除成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });
        });

        //点击确定
        $("#add_action").click(function () {
            var data = {
                sort: $("#add_card [name='sort']").val(),
                title: $("#add_card [name='title']").val(),
                phone: $("#add_card [name='phone']").val(),
                address: $("#add_card [name='address']").val(),
                start_time: $("#add_card [name='start_time']").val(),
                end_time: $("#add_card [name='end_time']").val(),
                takeout: $("#add_card [name='takeout_add']:checked").val(),
                forhere: $("#add_card [name='forhere_add']:checked").val(),
                description: $("#add_card [name='description']").val(),
                banner: $("#add_card [name='background']:eq(0)").val(),
            };
            if (data.sort == '') {
                swal({ title: "提示", text: "排序不能为空", type: "warning" }, function () {
                    $("#add_card [name='sort']").focus();
                });
                return false;
            }
            if (data.title == '') {
                swal({ title: "提示", text: "店铺名称不能为空", type: "warning" }, function () {
                    $("#add_card [name='title']").focus();
                });
                return false;
            }
            if (data.phone == '') {
                swal({ title: "提示", text: "店铺电话不能为空", type: "warning" }, function () {
                    $("#add_card [name='phone']").focus();
                });
                return false;
            }
            if (data.address == '') {
                swal({ title: "提示", text: "店铺地址不能为空", type: "warning" }, function () {
                    $("#add_card [name='address']").focus();
                });
                return false;
            }
            if (data.start_time == '') {
                swal({ title: "提示", text: "营业开始时间不能为空", type: "warning" }, function () {
                    $("#add_card [name='start_time']").focus();
                });
                return false;
            }
            if (data.end_time == '') {
                swal({ title: "提示", text: "营业结束时间不能为空", type: "warning" }, function () {
                    $("#add_card [name='end_time']").focus();
                });
                return false;
            }
            if (data.banner == '') {
                swal({ title: "提示", text: "店铺图不能为空", type: "warning" }, function () {

                });
                return false;
            }
            $(".loading").show();
            $.ajax({
                type: 'POST',
                url: "{:U('addShop')}",
                data: data,
                success: function (data) {
                    if (data.code == 0) {
                        swal({ title: "提示", text: "添加成功", type: "success", timer: 1500, }, function () {
                            window.location.reload();
                        });
                    } else {
                        swal("提示", data.msg, "warning");
                    }
                    $(".loading").hide();
                }
            });
        });

        //修改
        $("#edit_action").click(function () {
            var data = {
                id: $("#edit_card [name='id']").val(),
                sort: $("#edit_card [name='sort']").val(),
                title: $("#edit_card [name='title']").val(),
                phone: $("#edit_card [name='phone']").val(),
                address: $("#edit_card [name='address']").val(),
                start_time: $("#edit_card [name='start_time']").val(),
                end_time: $("#edit_card [name='end_time']").val(),
                takeout: $("#edit_card [name='takeout_add']:checked").val(),
                forhere: $("#edit_card [name='forhere_add']:checked").val(),
                description: $("#edit_card [name='description']").val(),
                banner: $("#edit_card [name='background']:eq(0)").val(),
            };
            if (data.sort == '') {
                swal({ title: "提示", text: "排序不能为空", type: "warning" }, function () {
                    $("#edit_card [name='sort']").focus();
                });
                return false;
            }
            if (data.title == '') {
                swal({ title: "提示", text: "店铺名称不能为空", type: "warning" }, function () {
                    $("#edit_card [name='title']").focus();
                });
                return false;
            }
            if (data.phone == '') {
                swal({ title: "提示", text: "店铺电话不能为空", type: "warning" }, function () {
                    $("#edit_card [name='phone']").focus();
                });
                return false;
            }
            if (data.address == '') {
                swal({ title: "提示", text: "店铺地址不能为空", type: "warning" }, function () {
                    $("#edit_card [name='address']").focus();
                });
                return false;
            }
            if (data.start_time == '') {
                swal({ title: "提示", text: "营业开始时间不能为空", type: "warning" }, function () {
                    $("#edit_card [name='start_time']").focus();
                });
                return false;
            }
            if (data.end_time == '') {
                swal({ title: "提示", text: "营业结束时间不能为空", type: "warning" }, function () {
                    $("#edit_card [name='end_time']").focus();
                });
                return false;
            }
            if (data.banner == '') {
                swal({ title: "提示", text: "店铺图不能为空", type: "warning" }, function () {

                });
                return false;
            }
            $(".loading").show();
            $.ajax({
                type: 'POST',
                url: "{:U('updateShop')}",
                data: data,
                success: function (data) {
                    if (data.code == 0) {
                        swal({ title: "提示", text: "保存成功", type: "success", timer: 1500, }, function () {
                            window.location.reload();
                        });
                    } else {
                        swal("提示", data.msg, "warning");
                    }
                    $(".loading").hide();
                }
            });
        });

    });
</script>
</block>
