<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-vip-card">
            <div class="content">
                
            </div>


            <div class="mask"></div>

            <div class="open-vip">
                <div class="card-list" style="">
                    <p class="quanyi" style="background:#edcea0">查看会员权益 &gt;</p>
                    <p class="bottom-left">尚未开通</p>
                    <img src="https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eoYkuXPicDEkjVahRAG1rc9YovhNGfMG4qRhXlQ5trGZNUJAMrMTl1GOP42F5FFeGEQVbUZPcSDadw/132"
                        class="headimg">
                    <span class="name">车凌锋</span><a class="button open"style="background:#edcea0">马上开通</a>
                </div>
                <p class="vip_title"></p>
                <p class="vip_amount"></p>
                <p class="vip_zs"></p>
                <div class="vip_open">确定支付</div>
                <div class="close iconfont icon-guanbi"></div>
                <input type="hidden" name="id" />
            </div>
            <input type="hidden" name="callback" value="{$_SERVER['REQUEST_SCHEME']}://{$_SERVER['HTTP_HOST']}{:U('Vip/index')}"/>
            <div class="empty" style="display:none">
                <span class="iconfont icon-ico_meiyoushuju"></span>
                <p>没有可以开通的会员。</p>
            </div>
        </div>
    </div>
</block>