<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-vip-coupon-receive">
            
            <div class="mask"></div>
            <div class="coupon_success">
                <p class="success">
                    <span class="iconfont icon-gougou"></span>
                </p>
                <p class="tt">领取成功</p>
                <a class="btn" href="{:U('index')}">立即使用</a>
                <div class="close iconfont icon-guanbi"></div>
            </div>

            <div class="content">
                <div class="empty" style="display:none">
                    <img src="__PUBLIC__/wx/img/no-coupon.png" width="40%" />
                    <p>暂无可领取的券</p>
                </div>

                <div class="datalist">
                    <!-- <div class="coupon-list">
                        <div class="left">
                            <p class="money" style="margin-top:15px">¥<span>3</span></p>
                        </div>
                        <div class="middle">
                            <p class="tt">有效期</p>
                            <p class="time">2018-12-14 - 2018-12-24</p><span class="type">优惠券</span>
                        </div>
                        <div class="right use_coupon">
                            <p>立</p>
                            <p>即</p>
                            <p>领</p>
                            <p>取</p>
                        </div>
                    </div> -->
                </div>
            </div>




        </div>
    </div>
</block>