<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-vip-equity">
            <div class="vip-top">
                <p class="title2">会员专区</p>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="vip-list" style="background:url(/Public/Uploads/5c1f2cbaa9276.png) 0 0 no-repeat;background-size:100% 100%;">
                            <img src="https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eoohsg50vH92YNib7knlicwiaiaLw0r4LbOwGmcDFcUSZI8aIT9TJHZ2BiaIlKxbw5IFjhshWUYicUIIJdw/132"
                                class="headimg">
                            <span class="vip-level">美食家</span>
                            <span class="name">车凌锋</span>
                            <p class="bottom-right">ID:20181213001127213</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="vip-list" style="background:url(/Public/Uploads/5c1f2cbaa9276.png) 0 0 no-repeat;background-size:100% 100%;">
                            <span class="vip-none-level">美食家</span>
                            <p class="bottom-left">尚未开通</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="ftitle">尊敬的<span>v2会员</span>，您享有以下权益</p>
            <div class="equity-swiper-container">
                <div class="equity">
                    <div class="kuang"><span class="iconfont icon-qianbao1"></span></div>
                    <p class="equity-title">生日特权</p>
                </div>
                <div class="equity">
                    <div class="kuang"><span class="iconfont icon-qianbao1"></span></div>
                    <p class="equity-title">生日特权</p>
                </div>
                <div class="equity">
                    <div class="kuang"><span class="iconfont icon-qianbao1"></span></div>
                    <p class="equity-title">生日特权</p>
                </div>
                <div class="equity">
                    <div class="kuang"><span class="iconfont icon-qianbao1"></span></div>
                    <p class="equity-title">生日特权</p>
                </div>
            </div>
            <div class="equity-open">立即开通</div>
        </div>
    </div>
</block>