<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-vip-equity">
            <div class="vip-top">
                <p class="title2">会员专区</p>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <?php foreach ($vipLevels as $vip){ ?>
                    <div class="swiper-slide" data-id="{$vip.id}" data-data='{:json_encode($vip)}'>
                        <div class="vip-list" style="background:url({$vip.background}) 0 0 no-repeat;background-size:100% 100%;">
                            <img src="{$user.avatar}"
                                class="headimg">
                            <?php if($user['vip_level_id'] == $vip['id']){ ?>
                            <span class="vip-level">{$vip.title}</span>
                            <span class="name">{$user.nickname}</span>
                            <p class="bottom-right">ID:{$user.card_sn}</p>
                            <?php } else { ?>
                            <span class="vip-none-level">{$vip.title}</span>
                            <p class="bottom-left">尚未开通</p>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                </div>
            </div>
            <p class="ftitle">尊敬的<span></span>，您享有以下权益</p>
            <div class="equity-swiper-container">
                <div class="equity" data-type="birthday">
                    <div class="kuang"><span class="iconfont icon-shengrilijin"></span></div>
                    <p class="equity-title">生日特权</p>
                </div>
                <div class="equity" data-type="integral">
                    <div class="kuang"><span class="iconfont icon-liwu"></span></div>
                    <p class="equity-title">积分特权</p>
                </div>
                <div class="equity" data-type="income">
                    <div class="kuang"><span class="iconfont icon-qian"></span></div>
                    <p class="equity-title">佣金特权</p>
                </div>
                <div class="equity" data-type="invitation">
                    <div class="kuang"><span class="iconfont icon-yaoqinghaoyou"></span></div>
                    <p class="equity-title">邀请特权</p>
                </div>
            </div>
            <a class="equity-open" data-no-cache="true" style="display:none">立即开通</a>

            <input type="hidden" name="user_vip_level" value='{:json_encode($user['vip_level'])}' />
            <input type="hidden" name="vip" value='{:json_encode($current_vip)}'/>

            <div class="mask"></div>
            <div class="equity-detail">
                <p class="tt">邀请特权</p>
                <div class="equity-detail-remark"></div>
                <div class="close iconfont icon-guanbi"></div>
            </div>

            <input type="hidden" name="callback" value="{$_SERVER['REQUEST_SCHEME']}://{$_SERVER['HTTP_HOST']}{:U('Vip/index')}" />

        </div>
    </div>
</block>