<extend name="Public/__base" />
<block name="body">

    <div class="page-main" style="left:170px;top:50px;">

        <div class="history-container ng-scope">
            <a class="return-btn" onclick="history.go(-1)">
                <i class="ALiconfont icon-sortleft"></i> 返回
            </a>
            <ul class="history-list">
                <li><a href="javascript:void(0)">系统设置</a></li>
                <li>打印机管理</li>
            </ul>
        </div>


        <div class="page-tabs" style="top:50px;">

            <ul class="page-tabs-nav" id="changeaction">
                <li class="" onclick="location.href='{:U('index')}'">管理员管理</li>
                <li class="active" onclick="location.href='{:U('print')}'">打印机管理</li>
                <li class="" onclick="location.href='{:U('setting')}'">系统设置</li>
                <li onclick="location.href='{:U('backDb')}'">数据备份</li>
            </ul>

            <form method="post" action="" id="formsubmit">
                <div class="tool-bar ng-scope" style="background:#fff;border-bottom:1px solid #dfe0e0">
                    <div class="bar-full">
                        <a class="btn btn-addon btn-success ng-scope" id="add"><i
                                class="glyphicon glyphicon-plus"></i>添加</a>
                    </div>

                    <div class="search-bool">
                        <select class="form-control type" style="width:160px;" name="shop_id" id="shop_id">
                            <option value="">全部店铺</option>
                            <?php foreach ($shops as $shop) { ?>
                            <option value="{$shop.id}" <?php if($shop['id'] == $_POST['shop_id']) {echo 'selected';}?>>{$shop.title}
                            </option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </form>

            <ul class="page-tabs-container">
                <li class="fadeIn animated active">
                    <div class="table-container" style="top:50px;background:#fff">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>店铺</th>
                                    <th>打印机名称</th>
                                    <th>终端号</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($data as $v){ ?>
                                <tr>
                                    <td><?=$shops[$v['shop_id']]['title'];?></td>
                                    <td>{$v.title}</td>
                                    <td>{$v.number}</td>
                                    <td>{$v.remark|default='-'}</td>
                                    <td>
                                        <a class="btn btn-info btn-xs edit" data-id="{$v.id}">编辑</a>
                                        <a class="btn btn-danger btn-xs delete" data-id="{$v.id}">删除</a>
                                    </td>
                                </tr>
                                <?php } ?>
                                <?php if(count($data) == 0){ ?>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="empty">没有检索到相关数据</td>
                                </tr>
                            </tfoot>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="info-card fadeIn animated ng-scope" id="add_card">
        <div class="info-card-wrapper">
            <div class="info-card-dialog">
                <div class="info-card-content">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 添加
                            <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                        </div>
                        <div class="panel-body">
                            <div class="form-tabs">
                                <ul class="form-tabs-container">
                                    <li class="fadeIn animated active">
                                        <table class="table-bordered bg-white table-form">
                                            <tbody>
                                                <tr>
                                                    <td class="require" width="150">店铺</td>
                                                    <td>
                                                        <select class="form-control type" style="width:160px;" name="shop_id" id="shop_id">
                                                            <?php foreach ($shops as $shop) { ?>
                                                            <option value="{$shop.id}" <?php if($shop['id'] == $_POST['shop_id']) {echo 'selected';}?>>{$shop.title}
                                                            </option>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印机名称</td>
                                                    <td>
                                                        <input type="text" name="title">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">终端号</td>
                                                    <td>
                                                        <input type="text" name="number">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印范围</td>
                                                    <td class="types">

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印区域</td>
                                                    <td class="area_ids">
                                                
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印模式</td>
                                                    <td class="">
                                                        <select name="mode">
                                                            <option value="normal">总单</option>
                                                            <option value="split">一菜一切</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">备注</td>
                                                    <td>
                                                        <input type="text" name="remark">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-btn-box" colspan="2">
                                                        <a class="btn btn-success" id="add_action">确定</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="info-card fadeIn animated ng-scope" id="edit_card">
        <div class="info-card-wrapper">
            <div class="info-card-dialog">
                <div class="info-card-content">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 编辑
                            <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                        </div>
                        <div class="panel-body">
                            <div class="form-tabs">
                                <ul class="form-tabs-container">
                                    <li class="fadeIn animated active">
                                        <table class="table-bordered bg-white table-form">
                                            <tbody>
                                                <tr>
                                                    <td class="require" width="150">店铺</td>
                                                    <td>
                                                        <select class="form-control type" style="width:160px;"
                                                            name="shop_id" id="shop_id">
                                                            <?php foreach ($shops as $shop) { ?>
                                                            <option value="{$shop.id}"
                                                                <?php if($shop['id'] == $_POST['shop_id']) {echo 'selected';}?>>
                                                                {$shop.title}
                                                            </option>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印机名称</td>
                                                    <td>
                                                        <input type="text" name="title">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">终端号</td>
                                                    <td>
                                                        <input type="text" name="number">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印范围</td>
                                                    <td class="types">
    
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印区域</td>
                                                    <td class="area_ids">
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="require">打印模式</td>
                                                    <td class="">
                                                        <select name="mode">
                                                            <option value="normal">总单</option>
                                                            <option value="split">一菜一切</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">备注</td>
                                                    <td>
                                                        <input type="text" name="remark">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-btn-box" colspan="2">
                                                        <input type="hidden" name="id" >
                                                        <a class="btn btn-info" id="edit_action">保存</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

            var shops = {:json_encode($shops)};
            var area = {:json_encode($area)};

            $("#shop_id").change(function () {
                $('#formsubmit').attr('action', '{:U('print')}').submit();
            });

            $("#add_card [name='shop_id']").change(function () {
                var shop_id = $(this).val();
                $("#add_card .types").html('');
                $("#add_card .area_ids").html('');
                if (shop_id != '') {
                    var types = shops[shop_id].types;
                    var html = '';
                    types.forEach(function (item, index) {
                        html += '<input type="checkbox" name="goods_type_ids" value="' + item.id + '"/> ' + item.title + ' ';
                        if (((index + 1) % 5) == 0) {
                            html += '<br>';
                        }
                    });
                    $("#add_card .types").html(html);

                    var ar = area[shop_id];
                    var html = '';
                    ar.forEach(function(item, index){
                        html += '<input type="checkbox" name="area_ids" value="' + item.id + '"/> ' + item.title + ' ';
                        if (((index + 1) % 5) == 0) {
                            html += '<br>';
                        }
                    });
                    $("#add_card .area_ids").html(html);
                }
            });

            $("#edit_card [name='shop_id']").change(function () {
                var shop_id = $(this).val();
                $("#edit_card .types").html('');
                if (shop_id != '') {
                    var types = shops[shop_id].types;
                    var html = '';
                    types.forEach(function (item, index) {
                        html += '<input type="checkbox" name="goods_type_ids" value="' + item.id + '"/> ' + item.title + ' ';
                        if (((index + 1) % 5) == 0) {
                            html += '<br>';
                        }
                    });
                    $("#edit_card .types").html(html);

                    var ar = area[shop_id];
                    var html = '';
                    ar.forEach(function (item, index) {
                        html += '<input type="checkbox" name="area_ids" value="' + item.id + '"/> ' + item.title + ' ';
                        if (((index + 1) % 5) == 0) {
                            html += '<br>';
                        }
                    });
                    $("#edit_card .area_ids").html(html);
                }
            });

            $("#add").click(function () {
                $("#add_card [name='shop_id']").trigger('change');
                $("#add_card").addClass('show');
                return false;
            });

            //点击确定
            $("#add_action").click(function () {
                var data = {
                    shop_id: $("#add_card [name='shop_id']").val(),
                    title: $("#add_card [name='title']").val(),
                    number: $("#add_card [name='number']").val(),
                    remark: $("#add_card [name='remark']").val(),
                    mode: $("#add_card [name='mode']").val(),
                    goods_type_ids: [],
                    area_ids: []
                };
                if (data.title == '') {
                    swal({ title: "提示", text: "打印机名称不能为空", type: "warning" }, function () {
                        $("#add_card [name='title']").focus();
                    });
                    return false;
                }
                if (data.number == '') {
                    swal({ title: "提示", text: "终端号不能为空", type: "warning" }, function () {
                        $("#add_card [name='number']").focus();
                    });
                    return false;
                }
                var i = 0;
                $("#add_card [name='goods_type_ids']").each(function(){
                    if ($(this).is(":checked")) {
                        data.goods_type_ids[i] = $(this).val();
                        i++;
                    }
                });

                if (data.goods_type_ids.length == 0) {
                    swal({ title: "提示", text: "请至少选择一个打印范围", type: "warning" }, function () {
                        
                    });
                    return false;
                }

                var i = 0;
                $("#add_card [name='area_ids']").each(function () {
                    if ($(this).is(":checked")) {
                        data.area_ids[i] = $(this).val();
                        i++;
                    }
                });

                if (data.area_ids.length == 0) {
                    swal({ title: "提示", text: "请至少选择一个打印区域", type: "warning" }, function () {

                    });
                    return false;
                }

                $(".loading").show();
                $.ajax({
                    type: 'POST',
                    url: "{:U('addPrint')}",
                    data: data,
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "添加成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                });
            });


            $(".delete").click(function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "提示",
                    text: "确定要删除这条记录吗？",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: '取消',
                    confirmButtonText: '确定'
                }, function () {
                    $(".loading").show();
                    $.ajax({
                        url: "{:U('delPrint')}",
                        type: 'POST',
                        data: { id: id },
                        success: function (data) {
                            if (data.code == 0) {
                                swal({ title: "提示", text: "删除成功", type: "success", timer: 1500, }, function () {
                                    window.location.reload();
                                });
                            } else {
                                swal("提示", data.msg, "warning");
                            }
                            $(".loading").hide();
                        }
                    })
                });
            });


            //修改
            $(".edit").click(function () {
                var id = $(this).attr('data-id');
                $(".loading").show();
                $.ajax({
                    url: "{:U(findPrint)}",
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.code == 0) {
                            $("#edit_card [name='shop_id']").val(data.data.shop_id);
                            $("#edit_card [name='shop_id']").trigger('change');
                            $("#edit_card [name='id']").val(data.data.id);
                            $("#edit_card [name='number']").val(data.data.number);
                            $("#edit_card [name='number']").val(data.data.number);
                            $("#edit_card [name='mode']").val(data.data.mode);
                            $("#edit_card [name='title']").val(data.data.title);
                            data.data.goods_type_ids.forEach(function(item){
                                $("#edit_card .types [value='"+item+"']").attr('checked', true);
                            })
                            data.data.area_ids.forEach(function (item) {
                                $("#edit_card .area_ids [value='" + item + "']").attr('checked', true);
                            })
                            $("#edit_card").addClass('show');
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });



            $("#edit_action").click(function () {
                var data = {
                    id: $("#edit_card [name='id']").val(),
                    shop_id: $("#edit_card [name='shop_id']").val(),
                    title: $("#edit_card [name='title']").val(),
                    number: $("#edit_card [name='number']").val(),
                    remark: $("#edit_card [name='remark']").val(),
                    mode: $("#edit_card [name='mode']").val(),
                    goods_type_ids: [],
                    area_ids: []
                };
                if (data.title == '') {
                    swal({ title: "提示", text: "打印机名称不能为空", type: "warning" }, function () {
                        $("#edit_card [name='title']").focus();
                    });
                    return false;
                }
                if (data.number == '') {
                    swal({ title: "提示", text: "终端号不能为空", type: "warning" }, function () {
                        $("#edit_card [name='number']").focus();
                    });
                    return false;
                }
                var i = 0;
                $("#edit_card [name='goods_type_ids']").each(function () {
                    if ($(this).is(":checked")) {
                        data.goods_type_ids[i] = $(this).val();
                        i++;
                    }
                });

                if (data.goods_type_ids.length == 0) {
                    swal({ title: "提示", text: "请至少选择一个打印范围", type: "warning" }, function () {

                    });
                    return false;
                }

                var i = 0;
                $("#edit_card [name='area_ids']").each(function () {
                    if ($(this).is(":checked")) {
                        data.area_ids[i] = $(this).val();
                        i++;
                    }
                });

                if (data.area_ids.length == 0) {
                    swal({ title: "提示", text: "请至少选择一个打印区域", type: "warning" }, function () {

                    });
                    return false;
                }

                $(".loading").show();
                $.ajax({
                    type: 'POST',
                    url: "{:U('editPrint')}",
                    data: data,
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "保存成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                });
            });



        });
    </script>
</block>