<extend name="Admin/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fafafa" id="page-admin-cash">
            <div class="content">
                <div class="list-block media-list" id="cash-list">
                    <ul>
                        <li class="inflow">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">标题</div>
                                    </div>
                                    <div class="item-subtitle">2019-01-10 11:00:00</div>
                                </div>
                                <div class="cash-right">+333</div>
                            </div>
                        </li>
                        <li class="outflow">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">标题</div>
                                    </div>
                                    <div class="item-subtitle">2019-01-10 11:00:00</div>
                                </div>
                                <div class="cash-right">-333</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="more">查看更多</p>
                <div class="empty">
                    <span class="iconfont icon-ico_meiyoushuju"></span>
                    <p>没有数据</p>
                </div>
            </div>
           
        </div>
    </div>
</block>