<extend name="Admin/__base" />
<block name="body">

    <div class="page-group">
        <div class="page page-current" style="background: #fafafa" id="page-admin-data">
            <div class="buttons-tab buttons-list" id="type">
                <a class="button active">订单</a>
                <a class="button">营收</a>
            </div>
            <div class="buttons-tab coupon-tab" id="status">
                <a class="tab-link button active">近7天</a>
                <a class="tab-link button">近15天</a>
                <a class="tab-link button">近30天</a>
            </div>
            <div class="content" style="margin-top:5.3rem;">
                <div class="chart-wrapper">
                    <canvas id="mountNode"></canvas>
                </div>
            </div>
        </div>
    </div>
  
</block>