<extend name="Admin/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fafafa" id="page-admin-index">
            <!-- <nav class="bar bar-tab">
                <a class="tab-item active">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">首页</span>
                </a>
                <a class="tab-item">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">我的</span>
                </a>
            </nav> -->

            <div class="mask"></div>

            <div class="coupon_manage">
                <div class="coupon-list">
                    <div class="left" style="background:#f17f05;">
                        <p class="money">¥ <span>1</span></p>
                        <p><span>优惠券</span></p>
                    </div>
                    <div class="middle">
                        <p class="tt">测试满足30</p>
                        <p class="condition_amount">满1可用</p>
                        <p class="time">2019-01-17 - 2019-01-27</p>
                    </div>
                </div>
                <div class="btn" id="coupon" style="width:71%">确认核销</div>
                <input type="hidden" name="code" />
                <div class="close iconfont icon-guanbi"></div>
            </div>

            <div class="vip_manage">
                <p class="tt">会员余额</p>
                <p class="tips"></p>
                <input type="number" class="code" placeholder="请输入金额" name="amount" />
                <input type="text" class="code" placeholder="请输入备注" name="remark" />
                <div class="btn" id="bill" style="width:71%">确认扣款</div>
                <!-- <div class="btn" id="recharge">充值</div> -->
                <input type="hidden" name="id" />
                <div class="close iconfont icon-guanbi"></div>
            </div>

            <div class="content">
                <div class="index-top">
                    <img src="{$config.logo}" />
                    <div class="index-title">
                        {$config.title}
                    </div>
                    <!-- <div class="change">切换门店</div> -->
                </div>

                <div class="index-message">
                    <div class="index-message-one">
                        <p>今日营收（元）</p>
                        <p class="money" id="thisDayRevenue">¥{$data.thisDayRevenue}</p>
                    </div>
                    <div class="index-message-tow">
                        <div class="detail-list" style="border:none">
                            <p class="t1">今日充值</p>
                            <p class="t2" id="thisDayRecharge">{$data.thisDayRecharge}</p>
                            <p class="t3">昨日<span id="lastDayRecharge">{$data.lastDayRecharge}</span></p>
                        </div>
                        <div class="detail-list">
                            <p class="t1">今日订单</p>
                            <p class="t2" id="thisDayOrderNum">{$data.thisDayOrderNum}</p>
                            <p class="t3">昨天<span id="lastDayOrderNum">{$data.lastDayOrderNum}</span></p>
                        </div>
                        <div class="detail-list">
                            <p class="t1">新增会员</p>
                            <p class="t2" id="thisDayVipNum">{$data.thisDayVipNum}</p>
                            <p class="t3">昨日<span id="lastDayVipNum">{$data.lastDayVipNum}</span></p>
                        </div>
                    </div>
                </div>


                <div class="list-block contacts-block index-order">
                    <div class="list-group">
                        <ul>
                            <li>
                                <div class="item-content item-link">
                                    <div class="item-inner">
                                        <div class="item-title">待处理订单</div>
                                        <div class="yuan">0</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="equity-swiper-container">
                    <a href="{:U('vip')}" data-no-cache="true">
                        <div class="equity">
                            <div class="kuang"><span class="iconfont icon-huiyuan" style="color:#ec4b03"></span></div>
                            <p class="equity-title">会员管理</p>
                        </div>
                    </a>
                    <a href="{:U('cash')}">
                        <div class="equity">
                            <div class="kuang"><span class="iconfont icon-shouzhimingxicaifuhongbaoyue" style="color:#ffa008"></span></div>
                            <p class="equity-title">营收明细</p>
                        </div>
                    </a>
                    <a onclick="location.href='{:U('data')}'">
                        <div class="equity">
                            <div class="kuang"><span class="iconfont icon-shuju" style="color:#00aad8"></span></div>
                            <p class="equity-title">经营数据</p>
                        </div>
                    </a>
                    <a class="saoma">
                        <div class="equity">
                            <div class="kuang"><span class="iconfont icon-saoma" style="color:#858585"></span></div>
                            <p class="equity-title scan_tip">扫码核销</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</block>