<extend name="Admin/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fafafa" id="page-admin-vip">
            <!-- <div class="bar bar-header-secondary" style="top:0">
                <div class="searchbar">
                    <div class="search-input">
                        <label class="icon2 iconfont icon-sousuo"></label>
                        <input type="text" placeholder='姓名/手机号' id="keyword"/>
                    </div>
                    <div class="vip-number">会员总数 <span>{$vipNum}</span></div>
                </div>
            </div> -->

            <div class="mask"></div>
            <div class="vip_manage">
                <p class="tt">会员余额</p>
                <p class="tips"></p>
                <input type="number" class="code" placeholder="请输入金额" name="amount" />
                <input type="text" class="code" placeholder="请输入备注" name="remark" />
                <div class="btn" id="bill">确认扣款</div>
                <div class="btn" id="recharge">充值</div>
                <input type="hidden" name="id" />
                <div class="close iconfont icon-guanbi"></div>
            </div>

            <div id="recharge">
                <div class="recharge-top">
                    <div class="recharge-top-left">
                        <p class="recharge-top-title">今日新增</p>
                        <p class="recharge-top-value">{$data.lastDayVipNum}<span class="money-span"> 人</span></p>
                        <div class="recharge-top-line"></div>
                    </div>
                    <div class="recharge-top-right">
                        <p class="recharge-top-title">总会员</p>
                        <p class="recharge-top-value">{$vipNum}<span class="money-span"> 人</span></p>
                    </div>
                </div>
                <div class="recharge-content">
                    <div class="recharge-content-amount-content" style="margin-top:1.5rem;">
                        <span class="iconfont icon-sousuo"></span>
                        <input type="text" class="recharge-content-amount" placeholder="搜索会员" id="keyword" />
                    </div>
                    <div class="btn" id="search">搜索</div>
                </div>
                
            </div>
            <div class="content" style="top:15rem" id="vip-list">
                <!-- <div class="content-block-title">用户id:3333</div>
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">姓名</div>
                                <div class="item-after">车凌锋</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">会员等级</div>
                                <div class="item-after">vip3</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">手机号</div>
                                <div class="item-after">13486543696</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">联系地址</div>
                                <div class="item-input">
                                    浙江省浙江省浙江省浙江省浙江省浙江省浙江省浙江省浙江省浙江省浙江省浙江省
                                </div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">余额</div>
                                <div class="item-after">11.3</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="vip-action" data-id="1">操作</div>
                        </li>
                    </ul>
                </div> -->
               
            </div> 
            <div class="empty">
                <span class="iconfont icon-ico_meiyoushuju"></span>
                <p>没有检索到相关数据</p>
            </div>

        </div>
    </div>
</block>