<extend name="Admin/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fafafa" id="page-admin-vip">
            <div class="bar bar-header-secondary" style="top:0">
                <div class="searchbar">
                    <div class="search-input">
                        <label class="icon2 iconfont icon-sousuo"></label>
                        <input type="text" placeholder='昵称/姓名/手机号' />
                    </div>
                    <div class="vip-number">会员总数 <span>50</span></div>
                </div>
            </div>
            <div class="content" style="top:2.2rem">
                <div class="content-block-title">用户id:3333</div>
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">商品名称</div>
                                <div class="item-after">杜蕾斯</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">型号</div>
                                <div class="item-after">极致超薄型</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block-title">用户id:3333</div>
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">商品名称</div>
                                <div class="item-after">杜蕾斯</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">型号</div>
                                <div class="item-after">极致超薄型</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="empty">
                    <span class="iconfont icon-ico_meiyoushuju"></span>
                    <p>没有检索到相关数据</p>
                </div>
            </div>

        </div>
    </div>
</block>