<extend name="Public/__base" />
<block name="body">
        
<div class="page-main" style="left:170px;top:50px;">

    <div class="history-container ng-scope">
        <a class="return-btn" onclick="history.go(-1)">
            <i class="ALiconfont icon-sortleft"></i> 返回 
        </a> 
        <ul class="history-list">
            <li><a href="javascript:void(0)">优惠券管理</a></li>
            <li>批次管理</li>
        </ul>
    </div>


    <div class="page-tabs" style="top:50px;">

        <ul class="page-tabs-nav" id="changeaction">
            <li class="active" onclick="location.href='{:U('index')}'">批次管理</li>
            <li class="" onclick="location.href='{:U('detail')}'">优惠券管理</li>
        </ul>

        <form method="post" action="" id="formsubmit">
        <div class="tool-bar ng-scope" style="background:#fff;border-bottom:1px solid #dfe0e0">
            <div class="bar-full">
                <a class="btn btn-addon btn-success ng-scope" id="add"><i class="glyphicon glyphicon-plus"></i>创建批次</a>
            </div>

            <div>
                <select class="form-control type" style="width:160px;" name="type" id="type">
                    <option value="">全部类型</option>
                    <?php foreach (C('coupon_type') as $key => $type) { ?>
                    <option value="{$key}" <?php if($key==$_POST['type']) {echo 'selected' ;}?>>{$type}</option>
                    <?php } ?>
                </select>
            </div>

            <div class="search-bool">
                <div class="input-group ng-pristine ng-valid">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="批次名称" name="keyword" value="{$Think.post.keyword}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search_btn">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        </form>

        <ul class="page-tabs-container">
            <li class="fadeIn animated active">
                <div class="table-container" style="top:50px;background:#fff">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>优惠类型</th>
                                <th>使用条件</th>
                                <th>优惠额</th>
                                <th>领取限制</th>
                                <th>总数/已领数/使用数</th>
                                <th>有效期</th>
                                <th>使用说明</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <?php foreach($data as $v){ ?>
                            <tr>
                                <td>{$v.title}</td>
                                <td><?=C('coupon_type')[$v['type']];?><?php if($v['is_friend']){echo '(可分享)';} ?></td>
                                <td>
                                    <?php 
                                        if($v['condition_amount'] > 0) {
                                            echo '满'.$v['condition_amount'].'可用';
                                        } else {
                                            echo '无限制';
                                        }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                        if ($v['type'] == 'discount') {
                                            if ($v['rate'] % 10 == 0) {
                                                echo ($v['rate'] / 10).'折';
                                            } else {
                                                echo $v['rate'].'折';
                                            }
                                        } else {
                                            echo $v['rate'].'元';
                                        }
                                    ?>
                                </td>
                                <td>
                                    每人限领{$v['num_limit']}张
                                </td>
                                <td>
                                    {$v['number']}/{$v['receive_num']}/{$v['use_num']}
                                </td>
                                <td>{$v.start_time|substr=0,10} - {$v.end_time|substr=0,10}</td>
                                <td style="white-space: pre;width: 200px">{$v.remark}</td>
                                <td>
                                    <a class="btn btn-danger btn-xs delete" data-id="{$v.id}">删除</a>
                                    <a href="{:U('detail', array('batch_id' => $v['id']))}" class="btn btn-info btn-xs detail" data-id="{$v.id}">查看优惠券</a>
                                </td>
                            </tr> 
                            <?php } ?>
                            <?php if(count($data) == 0){ ?>
                            <tfoot>
                                <tr>
                                    <td colspan="20" class="empty">没有检索到相关数据</td>
                                </tr>
                            </tfoot> 
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                {$page}
            </li>
        </ul>
    </div>
</div>

<div class="info-card fadeIn animated ng-scope" id="add_card">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading"> 创建批次
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="form-tabs">
                            <ul class="form-tabs-container">
                                <li class="fadeIn animated active">
                                    <table class="table-bordered bg-white table-form">
                                        <tbody>
                                            <tr>
                                                <td class="require" width="170">名称</td>
                                                <td>
                                                    <input type="text" name="title">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">编号前缀</td>
                                                <td>
                                                    <input type="text" name="prefix">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">每人限领</td>
                                                <td>
                                                    <input type="text" name="num_limit" value="1"> 张
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">优惠类型</td>
                                                <td>
                                                    <select name="type">
                                                        <?php foreach(C('coupon_type') as $key => $type){ ?>
                                                        <option value="{$key}">{$type}</option>
                                                        <?php } ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">优惠额</td>
                                                <td>
                                                    <input type="text" name="rate" style="width: 100px" value="0"> <span class="rate_type">元</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">颜色</td>
                                                <td>
                                                    <input type="text" name="color" style="width: 60px" value="#f17f05" class="colorpicker">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">条件</td>
                                                <td>
                                                    满 <input type="text" name="condition_amount" style="width: 60px" value="0"> <span class="">元可用</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">是否可分享</td>
                                                <td>
                                                    <select name="is_friend">
                                                        <option value="0">否</option>
                                                        <option value="1">是</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">数量</td>
                                                <td>
                                                    <input type="text" name="number" value="1" style="width: 100px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">开始时间</td>
                                                <td>
                                                    <input type="text" class="datetime form-control" name="starttime" value="<?=date('Y-m-d H:i:s');?>" style="width: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">结束时间</td>
                                                <td>
                                                    <input type="text" class="datetime form-control" name="endtime" value="<?=date('Y-m-d H:i:s', strtotime('+10 day'));?>" style="width: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="require">使用说明</td>
                                                <td>
                                                    <textarea name="remark" style="width:80%" rows="6"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-btn-box" colspan="2">
                                                    <a class="btn btn-success" id="add_action">确定</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){

        $(".delete").click(function () {
            var id = $(this).attr('data-id');
            swal({
                title: "提示",
                text: "确定要删除这条记录吗？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                cancelButtonText: '取消',
                confirmButtonText: '确定'
            }, function () {
                $(".loading").show();
                $.ajax({
                    url: "{:U('delBatch')}",
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "删除成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });
        });

        $("#type").change(function(){
            $('#formsubmit').submit();
        });

        $('.datetime').datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            language:'zh-CN',
            autoclose: true,
            todayBtn: true,
            startView:'year',
            pickerPosition:'top-left'
        });

        $("[name='type']").change(function(){
            if ($(this).val() == 'discount') {
                $('.rate_type').html('折(9折请输入90)')
            } else {
                $('.rate_type').html('元')
            }
        });

        //点击页码
        $(".pagination a").click(function(){
            if(typeof($(this).attr('href')) != 'undefined'){
                $('#formsubmit').attr('action', $(this).attr('href')).submit();
            }
            return false;
        });

        //点击搜索框
        $("#search_btn").click(function(){
            $('#formsubmit').attr('action', '{:U('index')}').submit();
        });

        $("#add").click(function(){
            $("#add_card").addClass('show');
            return false;
        });

        //点击确定
        $("#add_action").click(function(){
            var data = {
                title: $("#add_card [name='title']").val(),
                prefix: $("#add_card [name='prefix']").val(),
                num_limit: $("#add_card [name='num_limit']").val(),
                type: $("#add_card [name='type']").val(),
                rate: $("#add_card [name='rate']").val(),
                is_friend: $("#add_card [name='is_friend']").val(),
                number: $("#add_card [name='number']").val(),
                starttime: $("#add_card [name='starttime']").val(),
                endtime: $("#add_card [name='endtime']").val(),
                condition_amount: $("#add_card [name='condition_amount']").val(),
                remark: $("#add_card [name='remark']").val(),
                color: $("#add_card [name='color']").val(),
            }
            if(data.title == ''){
                swal({title: "提示", text: "名称不能为空", type: "warning"}, function(){
                    
                });
                return false;
            }
            if(data.prefix == ''){
                swal({title: "提示", text: "编号前缀不能为空", type: "warning"}, function(){
                    
                });
                return false;
            }
            if(data.num_limit == ''){
                swal({ title: "提示", text: "每人限领不能为空", type: "warning" }, function () {

                });
                return false;
            }
            if(data.rate == ''){
                swal({title: "提示", text: "优惠额不能为空", type: "warning"}, function(){
                   
                });
                return false;
            }
            if (data.condition_amount == '') {
                swal({ title: "提示", text: "条件不能为空", type: "warning" }, function () {

                });
                return false;
            }
            if(data.number == ''){
                swal({title: "提示", text: "数量不能为空", type: "warning"}, function(){
                   
                });
                return false;
            }
            if(data.starttime == ''){
                swal({title: "提示", text: "开始时间不能为空", type: "warning"}, function(){
                   
                });
                return false;
            }
            if(data.endtime == ''){
                swal({title: "提示", text: "结束时间不能为空", type: "warning"}, function(){
                   
                });
                return false;
            }
            if (data.remark == '') {
                swal({ title: "提示", text: "使用说明不能为空", type: "warning" }, function () {

                });
                return false;
            }
            $(".loading").show();
            $.ajax({
                type:'POST',
                url:"{:U('addCoupon')}",
                data:data,
                success:function(data){
                    if(data.code == 0){
                        swal({title: "提示", text: "生成优惠券成功", type: "success", timer: 1500,}, function(){
                            window.location.reload();
                        });
                    }else{
                        swal("提示", data.msg, "warning");
                    }
                    $(".loading").hide();
                }
            });
        });
    });
</script>
</block>
