<extend name="Common/__base" />
<block name="body">
    <div class="page page-current" style="background: #fff" id="page-menu-index">
        <input type="text" id='picker' style="display:none"/>
        <div class="content native-scroll">
            <p class="menu-index-message">
                <span class="change-shop">[换门店]</span>
                <span class="shop-name">嘉兴五郎 烧肉 酒场</span>
            </p>
            <p class="menu-contact">联系电话：0573-88888888 浙江省嘉兴市南湖区210号</p>
            <!-- <div class="swiper-container" id="menu-index-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/Public/Uploads/5c1f2cc95e2fe.png" width="100%" height="100%"/></div>
                    <div class="swiper-slide"><img src="/Public/Uploads/5c1f2cc95e2fe.png" width="100%" height="100%" /></div>
                    <div class="swiper-slide"><img src="/Public/Uploads/5c1f2cc95e2fe.png" width="100%" height="100%" /></div>
                </div>
                <div class="swiper-pagination" style="bottom:-3px;"></div>
            </div> -->

            <div class="menu-car">
                <div class="menu-car-gouwuche">
                    <span class="iconfont icon-gouwuche icon2"></span>
                    <span class="point">0</span>
                </div>
                <div class="menu-car-money">¥0</div>
                <div class="menu-car-btn">下单</div>
            </div>
            
            <div class="new_mask"></div>
            <div class="menu-car-detail">
                <div class="menu-car-detail-title">
                    <div class="left">菜单</div>
                    <div class="right"><span class="iconfont icon-shanchu"></span>清空购物车</div>
                </div>
                <div class="menu-car-detail-list">
                    <div class="menu-car-detail-list-left">
                        <p class="tt">三文鱼寿司</p>
                        <p class="ftt">大份+辣</p>
                    </div>
                    <div class="menu-car-detail-list-m">¥11</div>
                    <div class="menu-car-detail-list-right">
                        <span class="iconfont icon-jian jian"></span>
                        <span class="number">1</span>
                        <span class="iconfont icon-jia jia"></span>
                    </div>
                    <div class="both"></div>
                </div>
                <div class="menu-car-detail-list">
                    <div class="menu-car-detail-list-left">
                        <p class="tt">三文鱼寿司</p>
                        <p class="ftt">大份+辣</p>
                    </div>
                    <div class="menu-car-detail-list-m">¥11</div>
                    <div class="menu-car-detail-list-right">
                        <span class="iconfont icon-jian jian"></span>
                        <span class="number">1</span>
                        <span class="iconfont icon-jia jia"></span>
                    </div>
                    <div class="both"></div>
                </div>
            </div>

            <div class="mask" style=""></div>
            <div class="menu-goods-detail" style="">
                <img src="/Public/Uploads/5c1f2cc95e2fe.png" class="menu-goods-detail-img">
                <div class="menu-goods-detail-guige">
                    <div class="menu-goods-detail-guige-tt">规格</div>
                    <div class="menu-goods-detail-guige-list active">小份</div>
                    <div class="menu-goods-detail-guige-list">大份</div>
                    <div class="both"></div>
                </div>
                <div class="menu-goods-detail-guige">
                    <div class="menu-goods-detail-guige-tt">规格</div>
                    <div class="menu-goods-detail-guige-list">小份</div>
                    <div class="menu-goods-detail-guige-list">大份</div>
                    <div class="both"></div>
                </div>
                <div class="menu-goods-detail-line"></div>
                <div class="menu-goods-detail-price">
                    <div class="menu-goods-detail-price-left">¥11</div>
                    <div class="menu-goods-detail-price-right">选好了</div>
                    <div class="both"></div>
                </div>
                <div class="menu-goods-detail-tuijian-list">
                    <img src="/Public/Uploads/5c1f2cc95e2fe.png" />
                    <img src="/Public/Uploads/5c1f2cc95e2fe.png" />
                    <img src="/Public/Uploads/5c1f2cc95e2fe.png" style="margin-right:0"/>
                </div>
                <div class="close iconfont icon-guanbi"></div>
            </div>

            <div class="menu-content">
                <div class="menu-menu-content">
                    <p class="active">寿司</p>
                    <p>寿司2</p>
                </div>
                <div class="menu-goods-content">
                    <div class="content-block-title">寿司</div>
                    <div class="list-block media-list">
                        <ul>
                            <li>
                                <div class="item-content padding05">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                            style='width: 4.5rem;'>
                                        </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">三文鱼寿司</div>
                                        </div>
                                        <div class="item-subtitle">说明说明</div>
                                        <div class="item-subtitle">月销111</div>
                                        <div class="item-text">¥11</div>
                                        <div class="item-btn">选规格</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content padding05">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                            style='width: 4.5rem;'>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">三文鱼寿司</div>
                                        </div>
                                        <div class="item-subtitle">说明说明</div>
                                        <div class="item-subtitle">月销111</div>
                                        <div class="item-text">¥11</div>
                                        <div class="item-btn">选规格</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content padding05">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                            style='width: 4.5rem;'>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">三文鱼寿司</div>
                                        </div>
                                        <div class="item-subtitle">说明说明</div>
                                        <div class="item-subtitle">月销111</div>
                                        <div class="item-text">¥11</div>
                                        <div class="item-btn">选规格</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content padding05">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                            style='width: 4.5rem;'>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">三文鱼寿司</div>
                                        </div>
                                        <div class="item-subtitle">说明说明</div>
                                        <div class="item-subtitle">月销111</div>
                                        <div class="item-text">¥11</div>
                                        <div class="item-btn">选规格</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="content-block-title">寿司2</div>
                    <div class="list-block media-list">
                        <ul>
                            <li>
                                <div class="item-content padding05">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                            style='width: 4.5rem;'>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">三文鱼寿司</div>
                                        </div>
                                        <div class="item-subtitle">说明说明</div>
                                        <div class="item-subtitle">月销111</div>
                                        <div class="item-text">¥11</div>
                                        <div class="item-btn">选规格</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content padding05">
                                    <div class="item-media">
                                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                                            style='width: 4.5rem;'>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">三文鱼寿司</div>
                                        </div>
                                        <div class="item-subtitle">说明说明</div>
                                        <div class="item-subtitle">月销111</div>
                                        <div class="item-text">¥11</div>
                                        <div class="item-btn">选规格</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>