<extend name="Common/__base" />
<block name="body">
    <div class="page page-current" style="background: #f3b405" id="page-menu-order">

        <div class="mask" style=""></div>
        <div class="menu-order-pay" style="">
            <div class="menu-order-pay-title">支付方式</div>
            <div class="menu-order-pay-list">
                <span class="iconfont icon-qian1" style="color:#fc8c06"></span>
                <div class="menu-order-pay-list-p1">余额支付</div>
                <div class="menu-order-pay-list-p2">¥100</div>
            </div>
            <div class="menu-order-pay-list">
                <span class="iconfont icon-weixinzhifu" style="color:#2bae8f"></span>
                <div class="menu-order-pay-list-p1">微信支付</div>
            </div>
            <div class="menu-order-pay-btn">充值优惠更多，点击充值</div>
            <div class="close iconfont icon-guanbi"></div>
        </div>



        <div class="menu-order-vip-title">欢迎就餐白金会员</div>
        <div class="menu-order-goods-list">
            <div class="menu-order-goods-list-title">所有菜品</div>
            <div class="menu-order-goods-list-item-content">
                <div class="menu-order-goods-list-item">
                    <img src="/Public/Uploads/5c1f2cc95e2fe.png" />
                    <div class="menu-order-goods-list-m">
                        <p class="p1">菜品名称</p>
                        <p class="p2">备注、备注2</p>
                    </div>
                    <div class="menu-order-goods-list-right">
                        <p class="p1">¥100</p>
                        <p class="p3">× 2</p>
                    </div>
                </div>
                <div class="menu-order-goods-list-item">
                    <img src="/Public/Uploads/5c1f2cc95e2fe.png" />
                    <div class="menu-order-goods-list-m">
                        <p class="p1">菜品名称</p>
                        <p class="p2">备注、备注2</p>
                    </div>
                    <div class="menu-order-goods-list-right">
                        <p class="p1">¥100</p>
                        <p class="p3">× 2</p>
                    </div>
                </div>
            </div>
            <div class="menu-order-goods-list-bottom">
                小计 
                <span>¥100</span>
            </div>
        </div>
        <div class="menu-order-youhui">
            <div class="menu-order-youhui-title">使用优惠</div>
            <div class="menu-order-youhui-list">
                <div class="youhui-list1">会员折扣</div>
                <div class="youhui-list2">95折</div>
            </div>
            <!-- <div class="menu-order-youhui-list">
                <div class="youhui-list1">使用优惠券</div>
                <div class="youhui-list2">
                    <span class="iconfont icon-quangou used"></span>
                    <span class="iconfont icon-yk_yuanquan unused"></span>
                </div>
            </div>
            <div class="menu-order-youhui-list active">
                <div class="youhui-list1">使用积分</div>
                <div class="youhui-list2">
                    <span class="iconfont icon-quangou used"></span>
                    <span class="iconfont icon-yk_yuanquan unused"></span>
                </div>
            </div> -->
        </div>
        <div class="menu-order-bottom">
            <div class="menu-order-bottom-left">
                <span class="mm1">实付</span>
                <span class="mm2">¥100</span>
                <s class="mm3">¥100</s>
            </div>
            <div class="menu-order-bottom-right">提交</div>
        </div>
    </div>
</block>